body {
  font-family: "Gidole", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 10px;
  margin: 20rem;
}

.my-name {
  font-size: 4rem;
  font-weight: bold;
}

.content {
  color: #495057;
}

.left img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.right {
  margin-left: 20px;
}

.link a {
  margin-right: 10px;
  text-decoration: none;
  color: #0073b1;
  font-weight: bold;
}

.links a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-right: 10px;
}

.links a:nth-child(1) {
  background-color: #0077b5;
}

.links a:nth-child(2) {
  background-color: #333;
}
